* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  width: 900px;
  margin: 50px auto;
  text-align: center;
}
h1 {
  font-size: 34px;
}
.info-list {
  display: flex;
  gap: 3px;
  justify-content: center;
}
.info-list li {
  display: block;
  border: 1px solid;
  padding: 10px 20px;
  background: rgb(128, 107, 125);
}
