* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background: #5275bb;
  border: 1px solid #5275bb;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.title {
  color: #fff;
  font-size: 24px;
  padding-bottom: 10px;
}
span {
  color: #975421;
}
.text {
  color: white;
  padding-bottom: 10px;
}

input,
button {
  padding: 5px;
}

button {
  background: #c08a1e;
  color: rgb(10, 33, 57);
}

.wrapper:hover input::placeholder {
  color: #c08a1e;
}
.wrapper:hover input {
  background-color: #ddd;
}

.wrapper:hover button {
  color: #fff;
  background: #c08a1e;
}
