/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AlfaSlabOne";
  src: url(../font/AlfaSlabOne-Regular.ttf);
}

@font-face {
  font-family: "BebasNeue";
  src: url(../font/BebasNeue-Regular.ttf);
}

.form {
  padding: 20px;
  text-align: center;
}

h3 {
  font-family: "BebasNeue", sans-serif;
}
h2 {
  font-family: "AlfaSlabOne", sans-serif;
  color: #3d2514;
}

.form-login {
  padding-top: 10px;
  font-family: "BebasNeue", sans-serif;
  text-align: center;
}
.row {
  width: 700px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px auto;
}
.row input {
  padding: 10px;
  height: 49px;
  width: 300px;
}
input::placeholder {
  font-weight: bold;
  font-size: "BebasNeue";
  color: #3d2514;
}
.btn {
  font-family: "AlfaSlabOne", sans-serif;
  border-radius: 4px;
  height: 49px;
  width: 300px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(205, 19, 19);
  color: #fff;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Alfa Slab One";
  src: url(../font/AlfaSlabOne-Regular.ttf);
}
@font-face {
  font-family: "BebasNeue";
  src: url(../font/BebasNeue-Regular.ttf);
}
.form {
  padding-top: 15px;
  text-align: center;
}
.subtitle {
  font-family: "BebasNeue";
  font-size: 23px;
  color: rgb(15, 11, 11);
}
.title {
  font-family: "Alfa Slab One";
  font-size: 32px;
  color: #3d2514;
}
.form-put {
  width: 700px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
input {
  width: 300px;
  height: 49px;
  padding: 0 15px;
}
input::placeholder {
  color: rgb(38, 31, 31);
  font-family: "BebasNeue";
  font-size: 20px;
}
.btn {
  width: 300px;
  height: 49px;
  font-family: "Alfa Slab One";
  background: rgb(180, 25, 25);
  color: #fff;
}
.btn:hover {
  background: rgb(210, 41, 69);
}
