* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Asap";
  width: 100%;
  height: 100%;
}
.img {
  height: 100vh;
  width: 100%;
  background-image: url("./img/ha-noi-melody-residences-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.img .box {
  box-shadow: 0 0 10px;
  position: absolute;
  bottom: 280px;
  left: 180px;
  width: 650px;
  height: 200px;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  color: #3f3424;
  opacity: 0.8;
}
h1 {
  color: #bf4240;
}
.img .box .content {
  line-height: 1.5;
}
.img .box .address{
  font-size: 18px;
}
p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.img .box .price {
  padding: 10px 20px;
  display: inline-block;
  background: #bf4240;
  color: white;
  position: absolute;
  bottom: -20px;
  right: 30px;
  border-radius: 10px;
  font-size: 30px;
}
i{
  color: #c3b1b1;
}
