* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: url(../img/header-bg.jpg);
  padding: 30px 0;
}
.lv1 {
  display: flex;
  justify-content: space-between;
}
.header-logo {
}
.header-nav {
}
.header-nav .telephone {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
ul {
  display: flex;
  gap: 50px;
}
.header-nav .menu {
  padding: 20px 0;
}

.banner {
  background-image: url(../img/header-bg.jpg);
}

.lv2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
